CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
outputData
GenDRRs/build
build
mybuild
mydebug
*.DS_Store
GenDRRs/*.DS_Store
*.swp
inputData/pelvisSegmIntensityRAI.mha
inputData/brokenPelvisCenteredScale.mha
inputData/ImagesDefs
